
/*
Créer par Julien Tuyeras.
Toute utilisation commercialle est strictement interdite.
https://julientuyeras.com/
contact@julientuyeras.com/
*/

/* importation de la police d'apple ( helvetica )*/
@font-face {font-family: "Helvetica"; src: url('../fonts/Helvetica.ttf') format('truetype');}
@font-face {font-family: "Helvetica Neue"; src: url('../fonts/HelveticaNeue.ttf') format('truetype');}


html, body {
    margin: 0;
    padding: 0;
    height:100%;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', Helvetica-Neue, HelveticaNeue, Arial, sans-serif;
    font-size:xx-small;
}

.row-1-time{
    grid-area: date;
}

.row-1-reception {
    grid-area: reception;
    padding-left: 20px;
    padding-top: 5px;
    position: relative;
}

.row-1-reception-1,
.row-1-reception-2,
.row-1-reception-3,
.row-1-reception-4 {
 background-color: white;
 height: 3px;
 width: 2px;
}

.row-1-reception-2,
.row-1-reception-3,
.row-1-reception-4 {
    margin-left: 2px;
    margin-bottom: 5px;
    position: absolute;
}

.row-1-reception-2 {
    height: 5px;
    left: 21px;
    top: 3px;
}

.row-1-reception-3 {
    height: 7px;
    left: 24px;
    top: 1px;
}

.row-1-reception-4 {
    height: 9px;
    left: 27px;
    top: -1px;
}

.battery {
    position: absolute;
    left: 50px;
    top: 0;
}

.battery-body{
    width: 13px;
    height: 7px;
    background-color: white;
    border: 1px groove lightgray;
}

.battery-head{
    width: 1px;
    height: 5px;
    background-color: lightgray;
    position: absolute;
    top: 2px;
    left: 15.5px;
}

.wifi {
    background-image: url("icons/wifi.png");
    height: 10px;
    width: 10px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 35px;
}

.phone-case {
    height: 150.9mm;
    width: 75.7mm;
    background-color: black;
    border-radius: 40px;
    border: 10px black ridge;
    position: relative;
}

.wallpaper {
    background-image : url("images/iphone-backscreen.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 1fr repeat(3, 2fr) 3fr 1.5fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "date . . reception"
        "app1 app2 app3 app4"
        "app5 app6 app7 app8"
        ". . . ."
        ". . . ."
        " app1bis app2bis . .";
}

img{
    width: 50px;
    padding: 5px;
}

/* - - - - - - ligne 1 - - - - - - -*/
/* Galerie*/
.app1 {
    grid-area : app1;
    
}
    .app1::after {
        content: "Gallerie";
        color: white;
        margin: 15px;
    }

/* Appels */
.app2{
    grid-area: app2;
    border-radius: 25%;
    height: 50px;
}
    .app2::after{
        content:"Appels";
        color: white;
        margin: 15px;
    }

/* Réglages */
.app3{
    grid-area: app3;
}
    .app3::after {
        content: "Reglages";
        color: white;
        margin: 10px;
    }

/* Messages */
.app4 {
    grid-area: app4;
}
    .app4::after {
        content: "Messages";
        color: white;
        margin: 10px;
    }


    /* - - - - - - ligne 2 - - - - - - -*/
/* Galerie*/
.app5 {
    grid-area : app5;
}
    .app5::after {
        content: "Gallerie";
        color: white;
        margin: 15px;
    }

/* Appels */
.app6{
    grid-area: app6;
    border-radius: 25%;
    height: 50px;
}
    .app6::after{
        content:"Appels";
        color: white;
        margin: 15px;
    }

/* Réglages */
.app7{
    grid-area: app7;
}
    .app7::after {
        content: "Reglages";
        color: white;
        margin: 10px;
    }

/* Messages */
.app8 {
    grid-area: app8;
}
    .app8::after {
        content: "Messages";
        color: white;
        margin: 10px;
    }

/* - - - - - - - - - - barre du bas - - - - - -*/

/* Contacts */
.app1bis {
    grid-area: app1bis;
    padding-left: 5px;
    padding-top: 5px;
    z-index: 1;
}

/* Banque */
.app2bis {
    grid-area: app2bis;
    padding-right: 5px;
    padding-top: 5px;
    z-index: 1;
}

.setting-background {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: grey;
    opacity: 0.4;
    border-radius: 20px;

}


